@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

:root {
    /** Fonts */
    --main-font: "IBM Plex Sans", sans-serif;

    /* Colours */
    --background: #F4F2EA;
    --grey: #555555;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--main-font);
    background-color: var(--background);
    color: var(--grey);
}

button, input {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font: var(--main-font);
    border-color: #b39841;
    border: 2px solid;
}

button {
    
    background-color: var(--background);
    border-color: #b39841;
    color: #555555;
}

a.btn.btn-primary {
    text-decoration: none;
    color: #555555;
}